body *{
    box-sizing: border-box;
  }
  
  body {
    background: #006241;
  }
    
  header {
    background-color: #BAB6B6;
    display: flex;
    border: 6px solid #D69B5D;
    justify-content: flex-start;
    align-items: center;
  }
  
  header img, header nav,header nav a{
    background-color: #BAB6B6;
    color:#573F26;
  }
  
  header img {
    background-color: #BAB6B6;
    width: 20%;
    height: 20%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  header nav{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  header nav a{
    font-family: 'Bebas Neue', cursive;
    display: inline;
    color: #3b3939af;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 220%;
  }
  
  nav a:hover {
    color: #D69B5D;
   }
    
  #sectOne, #sectTwo, #sectFour {
    margin-left: 150px;
    margin-right: 150px;
  }
  
  #sectOne, #sectThree {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #fishpic {
    width: 960px;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #sectOne h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #B6B3B5;
    margin-bottom: 100px;
  }
  
  #sectTwo, #sectFour {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 100px;
  }
  
  #sectTwo article, #sectFour article {
    width: 367.6px;
    padding: 2%;
  }
  
  #sectTwo article {
    border: 4px solid #D69B5D;
    background-color: #514F50;
  }
  article h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 350%;
    padding-bottom: 8%;
    padding-top: 10%;
    letter-spacing: 2px;
    color:#F6F2F4;
    text-align: center;
  }
  
  article li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #B6B3B5;
  }
  
  #articleOne ul, #articleTwo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  #articleThree ul{
    padding-top: 4%;
  }
  
  #articleTwo li{
    display: inline;
    text-align: center;
    line-height: 150%;
  }
  
  #articleThree li{
    text-align: center;
    line-height: 170%;
  }
  
  #family, #fishcutter {
    margin-top: 8%;
    height: 220px;
    width: 300px;
  }
  
  #sectThree {
    background-color: #BAB6B6 ;
    padding: 2%;
  }
  
  #sectThree h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 700%;
    padding-top: 2%;
    letter-spacing: 2px;
    color:#F6F2F4;
    text-align: center;
    
  }
  #sectFour {
    background-color: #2E2D2D ;
    margin-top: 100px;
  }
  
  #sectFour h2,#sectFour h3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  #sectFour h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 300%;
    padding-top: 2%;
    letter-spacing: 2px;
    color:#F6F2F4;
  }
  
  #sectFour h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #B6B3B5;
  }
  
  #fishshirt, #fishcookies, #frostedcookie {
    height: 220px;
    width: 300px;
    padding:8%;
  }
    
  #sectionOne, #sectionTwo {
    margin-left: 150px;
    margin-right: 150px;
  }
  
  #sectionOne, #sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  
  #sectionOne h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 450%;
    padding-bottom: 8%;
    padding-top: 8%;
    letter-spacing: 2px;
    color:#D69B5D;
    text-align: center;
  }
  
  form, table{
    text-align: center;
  }
  fieldset {
    width: 360px;
    border: 10px solid #777576;
    border-radius: 8px;
    padding:40px;
    text-align: left;
    background: #BAB6B6;
  }
  
  legend {
    background-color: #2E2D2D;
    border: 10px solid #966D41;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    color: #FAFAFA;
  }
  
  input {
    font-size: 20pt;
    color: #573F26;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 5px;
    display: block;
    margin-bottom: 16px;
    margin-top: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
  }
  
  input:focus, input:hover {
    background: #E3A463;
  }
  
  label {
    color:#2E2D2D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
  }
  
  button {
    background-color: #2E2D2D;
    border: 6px solid #966D41;
    border-radius: 8px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18pt;
    color: #FAFAFA;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  button:focus, button:hover {
    background: #E3A463;
  }
  
  table {
    width: 200px;
    border: 10px solid #966D41;
    padding:20px;
    text-align: left;
    background: #BAB6B6;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-bottom: 16%;
    border-spacing: 0.5rem;
    border-collapse:separate;
    border-radius:8px;
  }
  
  th, td {
    border: 1px solid #999;
    padding: 0.5rem;
  }
  
  th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14pt;
    text-align: left;
    background-color: #2E2D2D;
    border-radius: 8px;
  }
  
  thead th, thead td {
    padding-top: 2%;
    font-size: 16pt;
    color:#FAFAFA;
    font-weight: 700;
    background-color: #2E2D2D;
    border-radius: 8px;
  }
  
  tfoot th {
    text-align: left;
    padding-left: 1%;
    padding-top: 2%;
    background: #FAFAFA;
    border-radius: 8px;
  }
  
  tfoot th:first-child {
    color:#FAFAFA;
    font-weight: 700;
    background-color: #2E2D2D;
  }
  
  tbody th {
    color: #FAFAFA;
    font-weight: 700;
  }
  
  td{
    color: #514F50;
    font-size: 14pt;
    text-align: left;
    border-radius: 8px;
  }
  
  tr {
    background-color: #FAFAFA;
  }
  
  td:hover, td:hover {
    background-color: #E3A463;
  }
  
  th:hover, th:hover {
    background-color: #E3A463;
  }
  
  tfoot th:hover, tfoot th:hover {
    background-color: #E3A463;
  }
  
    footer {
    background-color: #BAB6B6;
    padding: 6%;
    display: flex;
    border: 6px solid #D69B5D;
    justify-content: flex-start;
    align-items: center;
  }
  
   footer nav{
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  footer nav a{
    font-family: 'Bebas Neue', cursive;
    display: inline;
    color: #3b3939af;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 220%;
    padding-right: 9.5%;
  }
  
  footer a:hover {
    color: #D69B5D;
   }